/* start box */
.d-flex {
display: flex;
}
.align-items {
    align-items: center;
}

/* end box */
/* start padding + margin  */
.p-20 {
    padding: 20px;
}
.m-20 {
    margin: 20px;
}
.p-15 {
    padding: 15px;
}
/* end padding + margin  */
/* start color*/
.bg-purple {
    background-color: #A460ED;
}
.bg-white{
    background-color: white;
}
.c-purple {
color: #A460ED;
}
.c-white {
    color : white ;
}
/* end  color */
/* start position */
.relative {
    position: relative;
}
.absolute {
position: absolute;
}
/*end position */
/* start width and height */
.w-full {
    width: 100%;
}
/*end width and height */
/* start compounands */
.space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* end compounands */
/* start border  */
.border-1 {
border: 1px solid #ccc;
}
.br-10 {
    border-radius: 10px;
}
/* end border  */
