/* start box */
.d-flex {
display: flex;
}
.align-items {
    align-items: center;
}
.d-grid {
    display: grid;
}
.gap-20 {
    gap: 20px;
}
@media (max-width : 768px) {
    .block-mobile {
        display: block;
    }
}
.d-block{
    display: block;
}
/* end box */
/* start padding + margin  */
.p-10 {
    padding: 10px;
}
.p-15 {
    padding: 15px;
}
.p-20 {
    padding: 20px;
}
.pt {
    padding-top: 20px;
}
.pb {
    padding-bottom: 20px;
}
.mt-0 {
    margin-top: 0;
}
.mb-10 {
    margin-bottom: 10px;
}
.m-20 {
    margin: 20px;
}
.mr-20 {
    margin-right: 20px;
}
.ml-20 {
    margin-left: 20px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mt-10 {
    margin-top: 10px;
}
/* end padding + margin  */
/* start color*/
.bg-pink {
    background-color: #FA9494;
}
.bg-pink-alt {
    background-color: #FA9494;
}
.bg-white{
    background-color: white;
}
.bg-grey {
    background-color: #F1F5F9;
}
.c-pink {
color: #FF87CA;
}
.c-white {
    color : white ;
}
.c-grey {
    color: #A89CA0;
}
/* end  color */
/* start position */
.relative {
    position: relative;
}
.absolute {
position: absolute;
}
/*end position */
/* start width and height */
.w-full {
    width: 100%;
}
/*end width and height */
/* start compounands */
.space-between {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}
.btn-shape {
    padding: 4px 10px ;
    border-radius: 6px;
    text-transform: capitalize;
    font-weight: bold;
}
/* end compounands */
/* start border  */
.border-1 {
border: 1px solid #ccc;
}
.br-10 {
    border-radius: 10px;
}
.br-6 {
    border-radius: 6px;
}
.br-none {
    border: none;
}
/* end border  */
/* start text  */
.tt-c {
    text-transform: capitalize ;
}
    @media (max-width : 768px) {
    .txt-c-mobile {
        text-align: center;  
    }
}
.txt-c {
    text-align: center;  
}
.fs-14 {
    font-size: 14px;
}
.fs-15 {
    font-size: 15px;
}
.fw-b {
font-weight: bold ;
}
/*end text  */
/* start width + height*/
.w-fit {
    width: fit-content;
}

/* end width  + height*/
