/* Start Global Rules */
:root {
    --pink-color : #FF74B1;
    --pink-alt-color : #F999B7;
    --grey-color : #F1F5F9 ;
    --grey-alt-color: #A89CA0;
    --transition: 0.3s ;
    --border: 1px solid #eee;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*:focus {
    outline: none;
}
::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-thumb {
    background-color: var(--pink-color);
}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--pink-alt-color);
}
body {
    font-family: 'Open Sans', sans-serif;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
/* end Global Rules */
.page {
background-color: #F1F5F9;
min-height: 100vh;
}
/* start sidebar */
.sidebar {
    width: 240px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}
.sidebar .logo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebar .logo::before {
    content: "";
    position: absolute;
    width: calc(100% - 20px);
    height: 2px;
    background-color: white;
    bottom: -20px;
}
@media (max-width: 768px) {
    .sidebar .logo::before {
        width: 100%;
    } 
}
.sidebar .logo i {
    font-size: 24px;
    color: white;
    margin-right: 5px;
}
.sidebar .logo h3 {
    text-transform: uppercase;
    font-weight: bold;
}
.sidebar ul {
    padding-top: 50px;
}
.sidebar ul li a {
    position: relative;
    width: calc(100% + 20px);
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    font-size: 14px;
    color: white;
    padding: 10px;
    }
.sidebar ul li a:hover::before , 
.sidebar ul li a:hover::after ,
.sidebar ul li a.active::before , 
.sidebar ul li a.active::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: transparent;
    right: 0;
    border-radius: 50%;
    transition: 0.5s;
}
.sidebar ul li a:hover::before ,
.sidebar ul li a.active::before {
    top: -50px;
    box-shadow: 35px 35px 0 10px #F1F5F9;
}
.sidebar ul li a:hover::after ,
.sidebar ul li a.active::after {
    bottom: -50px;
    box-shadow: 35px -35px 0 10px #F1F5F9;
}
.sidebar ul li a:hover ,
.sidebar ul li a.active {
    background-color: #F1F5F9;
    color: var(--pink-color);
}
.sidebar ul li a i {
    margin-right: 8px;
}
.sidebar ul li a span {
    text-transform: capitalize;
}
@media (max-width:768px ) {
.sidebar {
    width: 58px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hide-mobile {
    display: none;
}
}
/* end sidebar */
/* start contant head  */
.content {
overflow: hidden;
z-index: 2;
}
.head .search::before {
    font-family: "Font Awesome 6 Free";
    content: "\f002";
    font-weight: 900;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    color: var(--grey-alt-color);
}
.head .search input {
margin-left: 5px;
padding-left: 30px;
height: 40px;
width: 172px;
transition: width var(--transition);
text-transform: capitalize;
font-size: 14px;
}
.head .search input:focus {
    width: 200px;
}
.head .search input::placeholder {
    color: var(--grey-alt-color);
}
.head .search input:focus::placeholder {
    opacity: 0;
}
.head .icons .notifications::before {
content: "";
width: 10px;
height: 10px;
background-color: #f44336;
position: absolute;
border-radius: 50%;
right: -5px;
top: -5px;
}
.head .icons img {
    width: 32px;
    height: 32px ;
    border-radius: 50%;
    margin-left: 15px;
}
/* end contant head  */
.page h1 {
    margin: 20px 20px 40px;
    text-transform: capitalize;
}
.page h1::before ,
.page h1::after {
content: "";
position: absolute;
height: 3px;
left: 0;
bottom: -10px;
}
.page h1::before  {
background-color: white;
width: 120px;
}
.page h1::after {
background-color: black;
width: 40px;
}
.wrapper {
    grid-template-columns: repeat(auto-fill , minmax(450px,1fr));
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
@media (max-width : 768px) {
.wrapper {
    grid-template-columns: minmax(200px,1fr);
    margin-left: 10px;
    margin-right: 10px;
}
}
/*start welcome widget */
.welcome {
    overflow: hidden;
}
.welcome .intro {
   margin-bottom: 20px;

}
@media (max-width: 767px) {
    .welcome .intro {
        padding-bottom: 30px;
    }
}
.welcome .intro img {
    width: 200px;
    margin-bottom: -10px;
}
.welcome .avatar {
width: 64px;
height: 64px;
border: 5px solid white;
margin-top: -52px;
border-radius: 50%;
margin-left: 20px;
box-shadow: 0 0 15px #eee;
}
@media (max-width: 767px) {
    .welcome .avatar {
margin-left: 0;
    }
}
.welcome .body {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.welcome .body > div  {
flex: 1;
}
.welcome .visit {
margin: 15px 15px 15px auto;
display: flex;
font-weight: bold;
padding: 5px;
justify-content: flex-end;
transition: var(--transition);
cursor: pointer;
}
.welcome .visit:hover {
    background-color: var(--pink-alt-color);
}
/* End Welcome Widget */
/* Start Quick Draft Widget */
.quick-draft textarea {
resize: none;
min-height: 180px;
}
.quick-draft .save {
margin-left: auto;
transition: var(--transition);
cursor: pointer;
}
.quick-draft .save:hover {
    background-color: var(--pink-alt-color);
}
/* End Quick Draft Widget */
/*Start Targets Widget*/

.targets .target-row .icon {
    width: 80px;
    height: 80px;
    margin-right: 15px;
}
.targets .target-row .details {
    flex: 1;
}
.targets .target-row .progress {
height: 4px;
}
.targets .target-row .progress > span {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    }
    .targets .target-row .progress > span span {
        position: absolute;
        right: -16px;
        bottom: 16px;
        padding:2px 5px;
        }
        .targets .target-row .progress > span span::before {
            content: "";
            position: absolute;
            border-color: transparent;
            border-width: 5px;
            border-style: solid;
            bottom: -10px;
            left: 50%;
            transform: translateX(-50%);
        }
        .targets .target-row .progress > .bg-pink span::before {
            border-top-color: #FA9494 ;
        }
        .targets .target-row .progress > .bg-blue span::before {
            border-top-color: #51C4D3 ;
        }
        .targets .target-row .progress > .bg-orange span::before {
            border-top-color: #fd9c00;
        }
.pink .icon , 
.pink .progress {
    background-color: hsla(0, 91%, 78%, 0.20);
}
.blue .icon , 
.blue .progress {
    background-color: hsla(187, 60%, 57%, 0.20);
}
.orange .icon , 
.orange .progress {
    background-color: hsla(37, 100%, 50%, 0.20);
}
/*End Targets Widget*/
/*Start Tickets Widget */
.tickets .box {
border: 1px solid #eee;
width: calc(50% - 10px);
}
@media (max-width: 768px) {
    .tickets .box {
    width: 100%;
    }
}
/*End Tickets Widget */
/* End Latest news */
.news .news-row:not(:last-child) {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}
.news .news-row img {
    width: 100px;
    border-radius: 6px;
    margin-right: 15px ;
}
.news .news-row .info {
    flex-grow: 1;
}
.news .news-row h3 {
    margin-bottom: 6px;
}
.news .news-row .date:hover{
 background-color: var(--pink-alt-color);   
}
@media (max-width : 768px) {
    .news .news-row {
        display: block;
    }
    .news .news-row .date {
        margin: 40px auto 10px;
     justify-content: flex-end;
        width: fit-content;
        
    } 
    .news h2 {
        justify-items: flex-start ;
    }
}
/* End Latest news- */
/*  Start Tasks Widget  */
.tasks .task-row:not(:last-of-type) {
    margin-top: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
}
.tasks .info { 
    flex-grow: 1;
}
.tasks .done {
    opacity: 0.3;
}
.tasks .done h3 , 
.tasks .done p {
    text-decoration: line-through;
}
.tasks .delete {
    transition: var(--transition);
    cursor: pointer;
}
.tasks .delete:hover {
  color: var(--pink-color);
}
/*  End Tasks Widget  */
/* start uplode  */
.uploade ul li:not(:last-of-type) {
    border-bottom: 1px solid #eee;
}
.uploade img {
    width: 40px;
    height: 40px;
}
/* end uplode  */
/* start last project widget */
.last-project ul::before { 
    content: "";
    position: absolute;
    left: 11px;
    width: 2px;
    height: 100%;
    background-color: var(--pink-color);
} 
.last-project ul li::before { 
    content: "";
    width: 20px;
    height: 20px;
    display: block;
    border-radius: 50%;
    background-color: white;
    border: 2px solid rgb(255, 255, 255);
    outline: 2px solid var(--pink-color);
    margin-right: 15px;
    z-index: 1;
}
.last-project ul li.done::before { 
    content: "";
    background-color: var(--pink-color);
 
}
.last-project ul li.current::before { 
    content: "";
    animation: change-color 0.8s infinite alternate;

}
.last-project .icon {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 160px;
    opacity: 0.3;
}
/* end last project widget */
/* start reminder widget  */
.reminder ul li .key {
width: 15px;
height: 15px;
}
.reminder ul li > .pink {
    border-left: 2px solid var(--pink-color);
}
.reminder ul li > .blue {
    border-left: 2px solid #51C4D3;
}
.reminder ul li > .orange {
    border-left: 2px solid #fd9c00;
}
.reminder ul li > .red {
    border-left: 2px solid #f44336 ;
}
/* end reminder widget  */
/* Start Lastet post Widget */
.lastet-post .avatar {
width: 48px;
height: 48px;
}
.lastet-post .post-content {
    line-height: 1.8;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    min-height: 140px;
}
/* End Lastet post Widget */
/* start social media widget */
.social-media .box {
padding-left: 70px;
}
.social-media .box i {
    position: absolute;
    top: 0;
    left: 0;
    width: 52px;
    transition: var(--transition);
}
.social-media .box i:hover {
    transform: rotate(5deg);
}
.social-media .box.twitter {
    background-color: rgb(28, 160, 242 , 20%) ;
    color: #1da1f2;
}
.social-media .box.twitter i ,
.social-media .box.twitter a {
   background-color: #1da1f2;
}
.social-media .facebook {
    background-color: rgb(24, 119, 242 , 40%);
    color: #1877f2;
}
.social-media .box.facebook i ,
.social-media .box.facebook a {
   background-color: #1877f2;
}
.social-media .youtube {
    background-color: rgb(255, 0, 0 , 20%) ;
    color: #ff0000;
}
.social-media .box.youtube i ,
.social-media .box.youtube a {
   background-color: #ff0000;
}
.social-media .box.linkedin {
    background-color: rgb(29, 161, 242 , 20%) ;
    color: #51C4D3;
}
.social-media .box.linkedin i ,
.social-media .box.linkedin a {
   background-color: #51C4D3;
}
/* end social media widget */
/* start activities widget */
.activities .container {
position: relative;
}
.activities .container:not(:last-child) {
    padding-bottom: 20px;
}
.activities .container .time  {
    margin-right: 10px;
    color: var(--grey-alt-color);
    font-weight: bold;
}
.activities .container p {
    color: var(--grey-alt-color);
    font-size: 14px;
    font-weight: bold;
}
.activities .container .icon {
    /* color: rgb(101, 78, 78); */
    margin-right: 10px;
    z-index: 99;
    background-color: white;

}
.activities .container::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 2px;
    left: 57px;
    background-color: var(--grey-alt-color);
}
/* end activities widget */
/* start projects table */
.projects .responsive-table{
overflow-x: auto;
}
.projects table {
    min-width: 1000px;
    border-spacing: 0;
}
.projects table thead td {
    background-color: #eee;
    font-weight: bold;
}
.projects table td {
    padding: 20px;
}
.projects  tbody td {
    border-bottom: 1px solid #eee;
}
.projects  tbody tr:hover td {
    transition: var(--transition);
    background-color: var(--grey-color);
} 
.projects table img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: white;
    padding: 2px;
}
.projects table img:not(:first-child) {
    margin-left : -20px
}
.projects table tr td:last-child {
border-right: 1px solid #eee;
}
.projects table td .lable {
    font-size: 14px;
}
/* end projects table */
/* start settings */
.settings-page {
grid-template-columns: repeat(auto-fill, minmax(500px , 1fr));
}
@media (max-width : 767px) {
    .settings-page {
    grid-template-columns: minmax(100px , 1fr);
    gap: 10;
    margin-left: 10px;
    margin-right: 10px;
    }
}
.settings-page .email {
    display: inline-flex;
    width: calc(100% - 70px);
}
.settings-page .close-message  {
    min-height: 150px ;
    border: 1px solid #eee;
    resize: none;
}
.settings-page a.button {
padding: 14px 10px;
}
.settings-page :disabled {
    cursor: no-drop;
    color: #bbb;
    background-color: #f0f4f6;
}
.settings-page a.button:hover {
    background-color: var(--pink-alt-color);
}
.settings-page .social-boxes i {
width: 40px;
height: 40px;
border-radius: 6px 0 0 6px;
background-color: #f6f6f6;
border: 1px solid #eee;
border-right: none;
transition: var(--transition);
}
.settings-page .social-boxes input {
height: 40px ;
padding-left: 10px;
background-color: #f6f6f6;
border: 1px solid #eee;
border-radius: 0 6px 6px 0;
}
.settings-page .social-boxes > div:focus-within i{
    color: grey;
}
.settings-page .Widgets-Control .control label {
    padding-left: 10px;
    cursor: pointer;
}
.settings-page .Backup-control  .control label {
    padding-left: 10px;
    cursor: pointer;
}
.Backup-control .servers input {
    appearance: none;
--webkit-appearance: none;
}
.Backup-control .servers {
border-top : 1px solid #eee ;
padding-top : 20px;

}
@media (max-width: 767px) {
    .Backup-control .servers {
     flex-wrap: wrap;
    }
}
.Backup-control .servers .server{
    border: 1px solid #eee;
    position: relative;
}
.Backup-control .servers input[type="radio"]:checked + .server {
    border-color: var(--pink-color);
    transition: var(--transition);
    color: var(--pink-color);
}
.toggle-checkbox {
    appearance: none;
--webkit-appearance: none;
}
.toggle-switch {
background-color: #ccc;
width: 78px;
height: 32px;
border-radius: 15px;
position: relative;
cursor: pointer;
transition: var(--transition);
}
.toggle-switch::before {
    font-family: "Font Awesome 5 Free";
    content: "\f00d";
    font-weight: 900;
    background-color: white;
    width: 24px;
    height: 24px;
    position: absolute;
    border-radius: 50%;
    top: 4px;
    left: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--grey-alt-color);
    transition: var(--transition);
}
.toggle-checkbox:checked + .toggle-switch{
 background-color: var(--pink-color);   
}
.toggle-checkbox:checked + .toggle-switch::before{
    left: 50px;
    color: var(--pink-color);
    content: "\f00c";
}
/* end settings */
 /* start profile page */
 @media (max-width: 767px) {
    .profile-page .overview {
     flex-direction: column;
    }
        
 }
.profile-page .avatar-box  {
width: 300px;

}
@media (max-width: 767px) {
    .profile-page .avatar-box  {
        border-bottom: 1px solid #EEE;
        }
}
.profile-page .avatar-box img  {
width: 120px;
height: 120px;
}
.profile-page .avatar-box .level {
height: 6px;
width: 70%;
margin: auto;
overflow:hidden ;
}
.profile-page .avatar-box .level span {
position: absolute;
top: 0;
left: 0;
height: 100%;
background-color: var(--pink-color);
}
.profile-page .info-box .box {
    flex-wrap: wrap;
    border-bottom: 1px solid #eee ;
    border-left: 1px solid #EEE;
    transition: var(--transition);
}
.profile-page .info-box .box:hover {
    background-color: #f6f6f6;
}
.profile-page .info-box .box > div{
    min-width: 200px;
    padding: 10px;
}
.profile-page .info-box h4 {
    font-weight: normal;
}
@media (max-width : 767px) {
    .profile-page .other-data {
    flex-direction: column;
    }
}

.profile-page .skills-card ul li {
padding: 15px 0;
}
.profile-page .skills-card ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.profile-page .skills-card span {
display: inline-flex;
color: white;
padding: 4px 10px;
background-color: var(--pink-color);
border-radius: 6px;
font-size: 14px;
font-weight: bold;
}
.profile-page .skills-card span:not(:last-child) {
    margin-right: 5px;
}
.profile-page .activities-card {
    flex: 1;
}
.profile-page .activities-card .activity:not(:last-of-type) {
border-bottom: 1px solid #eee;
padding-bottom: 20px;
margin-bottom: 20px;
}
.profile-page .activity img {
width: 64px;
height: 64px;
margin-right: 20px;
}
@media (min-width: 768px) {
    .profile-page .activity .date {
      margin-left: auto;
      text-align: right;
    }
  }
@media (max-width: 768px) {
    .profile-page .activity {
     flex-direction: column;
    }
    .profile-page .activity img  {
        margin-right: 0;
        margin-bottom: 15px;
    }
    .profile-page .activity .date  {
     margin-top: 15px;
    }
}
 /* end profile page */

 /* start profile page */

.projects-page {
    grid-template-columns: repeat(auto-fill , minmax(400px,1fr));
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
@media (max-width : 768px) {
.projects-page {
    grid-template-columns: minmax(200px,1fr);
    margin-left: 10px;
    margin-right: 10px;
    gap: 10;
}
}
.projects-page .projects .date {
    position: absolute;
    right: 10px;
    top: 10px;
}
.projects-page .projects .team {
    min-height: 80px;
    position: relative;
}
.projects-page .projects .team a {
    position: absolute;
    left:0 ;
    bottom: 0;
}
.projects-page .projects .team img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid white;
}
.projects-page .projects .team a:nth-child(2) {
    left: 25px;
}
.projects-page .projects .team a:nth-child(3) {
    left: 50px;
}
.projects-page .projects .team a:nth-child(4) {
    left: 75px;
}
.projects-page .projects .team a:nth-child(5) {
    left: 100px;
}
.projects-page .projects .team a:hover {
    z-index: 1000;
}
.projects-page .projects .do {
    display: flex;
 justify-content: flex-end;
 border-top: 1px solid #EEE;
 border-bottom: 1px solid #EEE;
 padding: 15px 0;
 margin: 15px 0;
}
.projects-page .projects .do span {
    padding: 3px 8px;
    margin-left: 5px;
    width: fit-content;
    font-size: 14px;
}
@media (max-width : 767px) {
    .projects-page .projects .do {
        flex-direction: column;
    }
    .projects-page .projects .do span:not(:last-child) {
        margin-bottom: 15px;
    }
}
@media (max-width : 767px) {
    .projects-page .projects .info {
        display: flex;
        flex-direction: column;
    }
}
.projects-page .projects .progress {
height: 8px;
width: 260px;
position: relative;
border-radius: 6px;
}
@media (max-width : 767px) {
    .projects-page .projects .progress {
        display: flex;
        margin-bottom: 10px;
    }
}
.projects-page .projects .progress span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 6px;
}
 /* end profile page */
/* start course page*/
.courses-page {
    grid-template-columns: repeat(auto-fill , minmax(300px,1fr));
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
@media (max-width : 768px) {
.courses-page {
    grid-template-columns: minmax(200px,1fr);
    margin-left: 10px;
    margin-right: 10px;
    gap: 10;
}
}
.courses-page .course {
    overflow: hidden;
}
.courses-page .course .cover {
    min-width: 100%;
    max-width: 100%;
    border-radius: 6px 6px 0 0;
}
.courses-page .course .desc {
    line-height: 1.6;
}
.courses-page .course .instructor {
  position: absolute;
  border-radius: 50%;
  border: 1px solid white;
  top: 20px;
  left: 20px;
  width: 64px;
  height: 64px;
  box-shadow: 0 0 5px white;
}
.courses-page .course .info {
border-top: 1px solid #eee;
}
.courses-page .course .title {
    position: absolute;
    left:50% ;
    top: -2px ;
    transform: translate(-50% ,-50%) ;
}

/* end course page*/
/* start friends */
.friends-page {
    grid-template-columns: repeat(auto-fill , minmax(300px,1fr));
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
@media (max-width : 768px) {
.friends-page {
    grid-template-columns: minmax(200px,1fr);
    margin-left: 10px;
    margin-right: 10px;
    gap: 10;
}
}
.friends-page .friends .contact {
position: absolute;
top: 10px;
left: 10px;
}
.friends-page .friends .contact i {
padding: 10px;
border-radius: 50%;
background-color: var(--grey-color);
transition: var(--transition);
color:var(--grey-alt-color);
}
.friends-page .friends .contact i:hover {
background-color: var(--pink-color);
color: white;
}
.friends-page .friends .icons {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin-top: 10px;
    margin-bottom: 15px;
    padding-top: 10px;
   padding-bottom: 10px;
}
.friends-page .friends .icons i {
    margin-right: 5px;
}
.friends-page .friends .icons .vip {
    position: absolute;
    right: 0;
    top: 50%;
    font-size: 40px;
    opacity: 20%;
    transform: translatey(-50%);
}
/* start friends */
/* start files */
.files-page {
flex-direction: row-reverse;
align-items: flex-start;
}
@media (max-width : 767px) {
    .files-page {
        flex-direction: column;
        align-items: normal;
        }  
}
.files-page .files-stats {
 min-width: 260px;
}
.files-page .files-stats .icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.files-page .files-stats .size {
    margin-left: auto;
}
.files-page .files-stats .pink {
    background-color: hsla(0, 91%, 78%, 0.20);
}
.files-page .files-stats .blue {
    background-color: rgb(0 117 255 / 20%);
}
.files-page .files-stats .red {
    background-color: rgb(244 67 54 / 20%);
}
.files-page .files-stats .orange {
    background-color: rgb(245 158 11 / 20%);
}
.files-page .files-stats .upload {
    margin: 15px auto 0;
    padding: 10px 15px;
    transition: var(--transition);
}
.files-page .files-stats .upload:hover i {
    animation: go-up 0.8s infinite ;
}
 .files-page .files-content {
    flex: 1;
    grid-template-columns: repeat(auto-fill , minmax(150px,1fr));
}
.files-page .files-content img {
width: 64px;
height: 64px;
transition: var(--transition);
}
.files-page .files-content .file:hover img{
transform: rotate(5deg);
}
.files-page .files-content .info {
    border-top: var(--border);
}
/* end files */
/* start plans  */
.plans-page {
    grid-template-columns: repeat(auto-fill , minmax(450px,1fr));
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
@media (max-width : 768px) {
.plans-page {
    grid-template-columns: minmax(250px,1fr);
    margin-left: 10px;
    margin-right: 10px;
    gap: 10;
}
}
.plans-page .plan .top {
 border: 1px solid white;   
 outline: 3px solid transparent;  
}
.plans-page .plan.pink .top {
    outline-color: var(--pink-color);
}
.plans-page .plan.blue .top {
    outline-color: #1da1f2;
}
.plans-page .plan.orange .top {
    outline-color: #fd9c00;
}
.plans-page .plan .price {
position: relative;
font-size: 40px;
margin: auto;
width: fit-content;
}
.plans-page .plan .price span {
    position: absolute;
    top: 0;
    left:-20px ;
    font-size: 25px;

}
.plans-page .plan ul li {
    padding: 15px 0;
    display: flex;
    align-items: center;
    font-size: 15px;
    border-bottom: var(--border);
}
.plans-page .plan ul li .yes {
    color: var(--grey-alt-color);
}
.plans-page .plan ul li i:not(.yes , .help){
    color: #f44336;
}
.plans-page .plan ul li i:first-child {
    font-size: 18px;
    margin-right: 5px;
}
.plans-page .plan ul li:last-child  {
    margin-bottom: 20px;
}
.plans-page .plan ul li i.help {
    cursor: pointer;
    margin-left: auto;
    color: var(--grey-alt-color);
}
/*end plans  */

/* start animation */
@keyframes change-color {
    from {
        background-color: var(--pink-color);
    }
    to {
        background-color: white;
    }
}
@keyframes go-up {
    0% ,
    100% {
        transform: translatey(0);
    }
    50% {
        transform: translatey(-5px);
    }
}
/* end  animation */
