/* Start Global Rules */
:root {
    --purple-color : #A460ED ;
    --grey-color : #888 ;
    --red-color : #f44336 ;
    --green-color: #ADDDD0 ;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*:focus {
    outline: none;
}
::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    background-color: white;
}
::-webkit-scrollbar-thumb {
    background-color: var(--purple-color);
}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--green-color);
}
body {
    font-family: 'Open Sans', sans-serif;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
/* end Global Rules */
.page {
background-color: #F1F5F9;
min-height: 100vh;
}
/* start sidebar */
.sidebar {
    width: 240px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}
.sidebar .logo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebar .logo::before {
    content: "";
    position: absolute;
    width: calc(100% - 20px);
    height: 2px;
    background-color: white;
    bottom: -20px;
}
@media (max-width: 768px) {
    .sidebar .logo::before {
        width: 100%;
    } 
}
.sidebar .logo i {
    font-size: 24px;
    color: white;
    margin-right: 5px;
}
.sidebar .logo h3 {
    text-transform: uppercase;
    font-weight: bold;
}
.sidebar ul {
    padding-top: 50px;
}
.sidebar ul li a {
    position: relative;
    width: calc(100% + 20px);
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    font-size: 14px;
    color: white;
    padding: 10px;
    }
.sidebar ul li a:hover::before , 
.sidebar ul li a:hover::after ,
.sidebar ul li a.active::before , 
.sidebar ul li a.active::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: transparent;
    right: 0;
    border-radius: 50%;
    transition: 0.5s;
}
.sidebar ul li a:hover::before ,
.sidebar ul li a.active::before {
    top: -50px;
    box-shadow: 35px 35px 0 10px #F1F5F9;
}
.sidebar ul li a:hover::after ,
.sidebar ul li a.active::after {
    bottom: -50px;
    box-shadow: 35px -35px 0 10px #F1F5F9;
}
.sidebar ul li a:hover ,
.sidebar ul li a.active {
    background-color: #F1F5F9;
    color: var(--purple-color);
}
.sidebar ul li a i {
    margin-right: 8px;
}
.sidebar ul li a span {
    text-transform: capitalize;
}
@media (max-width:768px ) {
.sidebar {
    width: 58px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hide-mobile {
    display: none;
}
}
/* end sidebar */
/* start contant head  */
.content {
overflow: hidden;
z-index: 2;
}
.head .search::before {
    font-family: "Font Awesome 6 Free";
    content: "\f002";
    font-weight: 900;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    color: var(--grey-color);
}
.head .search input {
margin-left: 5px;
padding-left: 30px;
height: 40px;
width: 172px;
transition: width .3s;
text-transform: capitalize;
font-size: 14px;
}
.head .search input:focus {
    width: 200px;
    border: 1px solid var(--purple-color);
}
.head .search input::placeholder {
    color: var(--purple-color);
}
.head .search input:focus::placeholder {
    opacity: 0;
}
.head .icons .notifications::before {
content: "";
width: 10px;
height: 10px;
background-color: var(--red-color);
position: absolute;
border-radius: 50%;
right: -5px;
top: -5px;
}
.head .icons img {
    width: 32px;
    height: 32px ;
    border-radius: 50%;
    margin-left: 15px;
}
/* end contant head  */
.page h1 {
    margin: 20px 20px 40px;
}
.page h1::before ,
.page h1::after {
content: "";
position: absolute;
height: 3px;
left: 0;
bottom: -10px;
}
.page h1::before  {
background-color: white;
width: 120px;
}
.page h1::after {
background-color: black;
width: 40px;
}
.wrapper {
    grid-template-columns: repeat(auto-fill , minmax(350px,1fr));
    margin-left: 20px;
    margin-right: 20px;
}
@media (max-width : 768px) {
.wrapper {
    grid-template-columns: minmax(200px,1fr);
    margin-left: 10px;
    margin-right: 10px;
}
}
/*start welcome widget */
.welcome {
    overflow: hidden;
}
.welcome .intro {
   margin-bottom: 20px;
}
@media (max-width: 767px) {
    .welcome .intro {
        padding-bottom: 30px;
    }
}
.welcome .intro img {
    width: 200px;
    margin-bottom: -10px;
}
.welcome .avatar {
width: 64px;
height: 64px;
border: 5px solid white;
margin-top: -52px;
border-radius: 50%;
margin-left: 20px;
box-shadow: 0 0 15px #eee;
}
@media (max-width: 767px) {
    .welcome .avatar {
margin-left: 0;
    }
}
.welcome .body {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.welcome .body > div  {
flex: 1;
}
.welcome .visit {
margin: 15px 15px 15px auto;
display: flex;
font-weight: bold;
padding: 5px;
justify-content: flex-end;
transition: .3s;
cursor: pointer;
}
.welcome .visit:hover {
    background-color: var(--green-color);
}
/* End Welcome Widget */
/* Start Quick Draft Widget */
.quick-draft textarea {
resize: none;
min-height: 180px;
}
.quick-draft .save {
margin-left: auto;
transition: .3s;
cursor: pointer;
}
.quick-draft .save:hover {
    background-color: var(--green-color);
}
/* End Quick Draft Widget */